<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dfrc.hxqh.dfrc_project">

    <!-- permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Permission for Unit Test -->

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Permission for Unit Test -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SampleTheme">
        <activity android:name=".view.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.PermissionsActivity"
            android:label="PermissionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:label="PermissionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AssetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AssetDetailsActivity"
            android:label="PermissionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.JhbqActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SparepartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.WorkorderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.WorkOrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.WotaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.N_problemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.WotaskDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.BjglActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.N_ProblemDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MipcaActivityCapture"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ResultDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.N_PB_AddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PersonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Inventoryactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.InventoryDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.InvbalancesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ZkworkorderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ZkworkorderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.N_materialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.FkworkorderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.FkworkorderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MatusetransActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MatusetransDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PoDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AssetChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.N_ProblemAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PoLineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.WljsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.Matrectrans_AddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.N_material_AddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.InvbalancesChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.N_problem1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.GzWorkorderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.GZworkorderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.N_problem1DetailsActivity"
            android:screenOrientation="portrait" />

        <!--设置蒲公英-->
        <meta-data
            android:name="PGYER_APPID"
            android:value="44f4bd87c4c1396fd4c0b8669dfe8d1f"></meta-data>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.pgyersdk.test.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>